body {
  background: url("img/pattern.png") repeat; }

.app > div.buttons, .app > div.controls {
  max-width: calc(100vw - 20px);
  width: 540px; }
.app > div.controls > div.input-group {
  background-color: white; }

.app > div.history {
  height: calc(100vh - 40px);
  overflow-y: scroll;
  max-width: calc(100vw - 20px);
  width: 540px}
.app > div.history > div.alert {
  max-width: 80%; }
