.app {
  background: url("img/pattern.png") repeat;
  max-width: calc(100vw);
  width: 920px;}
.app > div.buttons, .app > div.controls {
  max-width: calc(100vw - 20px);
  width: 720px; }
/** Optional controls
.app > div.buttons, .app > div.controls > div.scroll {
  display: none; }
  */
.app > div.history {
  min-height: 100vh;
  padding-bottom: 50px; }
.app > div.history > div.media {
  max-width: 80%; }
.app > div.history > div.media .card {
  margin-bottom: 14px;
  margin-left: 10%;
  margin-right: 10%;}
