#jumbotron {
  height: calc(100vh - 86px);
  min-height: 456px;
}

.embed-responsive-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: black;
}

.opaque {
  background-color: rgba(0,0,0,0.5);
}

.transparent {
  background-color: rgba(0,0,0,0.0);
}

.reset-line-height {
  line-height: inherit;
}
