.embed-responsive-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: black;
  opacity: 0.8;
}

#veiligheid .featured-list > li {
  min-height: 129px;
}

#veiligheid .featured-list > li > img {
  min-height: 120px;
}
